* {
    overflow:hidden;
}

html{
    height: 100%;
    overflow:hidden!important;
    padding-top:45px; /* for navbar */
}

body {
    background-color:#ebebeb;
    position:relative;
    height:100%;
}